*{
    list-style: none;
}
.body{
/* background-size: cover;
background-image: url(./img/pexels-soakedinnirvana-2646237.jpg); */

    background-image: url(./img/pexels-soakedinnirvana-2646237.jpg), linear-gradient(rgba(0,0,0,0.854),rgba(0, 0, 0, 0.854));
    background-blend-mode: overlay;
    background-size: cover;
}

.list-item{
    color: rgb(221, 221, 221);
}

.header-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 0px;

}

.header-btn{
   background-color: #ffffff00; 
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
   color: aliceblue;
   border: 1px solid white;
   border-radius: 20px;
   padding: 10px 20px;
}

.landing{
    height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-div{
    width: 80%;
}

.landing-main{
    color: aliceblue;
}

.landing-para{
    color: #ffffff;
}

